<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="si.krkavolley.volleystat"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="si.krkavolley.volleystat.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="si.krkavolley.volleystat.PlayersActivity"
            android:label="@string/title_activity_players"
            android:parentActivityName="si.krkavolley.volleystat.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.krkavolley.volleystat.MainActivity" />
        </activity>
        <activity
            android:name="si.krkavolley.volleystat.ViewGamesActivity"
            android:label="@string/title_activity_view_games"
            android:parentActivityName="si.krkavolley.volleystat.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.krkavolley.volleystat.MainActivity" />
        </activity>
        <activity
            android:name="si.krkavolley.volleystat.CreateGameActivity"
            android:label="@string/title_activity_create_game"
            android:parentActivityName="si.krkavolley.volleystat.ViewGamesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.krkavolley.volleystat.ViewGamesActivity" />
        </activity>
        <activity
            android:name="si.krkavolley.volleystat.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="si.krkavolley.volleystat.ViewGamesActivity"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.krkavolley.volleystat.ViewGamesActivity" />
        </activity>
        <activity
            android:name="si.krkavolley.volleystat.WebViewSingleStatActivity"
            android:label="@string/title_activity_web_view_single_stat"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:parentActivityName="si.krkavolley.volleystat.StatisticsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="si.krkavolley.volleystat.StatisticsActivity" />
        </activity>
    </application>

</manifest>
